<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- PERMISOS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>

    <!-- Permisos para guardar en calendario -->
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoldenHorses"
        tools:targetApi="31">

        <activity
            android:name=".uii.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GoldenHorses">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MusicService" android:exported="false" />

        <!-- Registramos LoginActivity -->
        <activity android:name=".uii.LoginActivity" android:exported="true" />

        <!-- Registramos HomeActivity -->
        <activity android:name=".uii.HomeActivity" android:exported="true" />

        <!-- Registramos PlayerSelectionActivity -->
        <activity android:name=".uii.PlayerSelectionActivity" android:exported="true" />

        <!-- Registramos GameActivity -->
        <activity android:name=".uii.GameActivity" android:exported="true" />

        <!-- Registramos VictoriaActivity -->
        <activity android:name=".uii.VictoriaActivity" />

        <!-- Registramos DerrotaActivity -->
        <activity android:name=".uii.DerrotaActivity" />

        <!-- Registramos Ayuda -->
        <activity android:name=".uii.HelpActivity" />

        <!-- Registramos RankingActivity -->
        <activity android:name=".uii.RankingActivity" />

    </application>

</manifest>
